#Postgres
DB_HOST=localhost
DB_DRIVER=postgres
DB_USER=
DB_PASSWORD=
DB_NAME=goauthz
DB_PORT=5432

#Postgres Test DB
TEST_DB_DRIVER=postgres
TEST_DB_HOST=localhost
TEST_DB_PASSWORD=
TEST_DB_USER=
TEST_DB_NAME=goauthz_test
TEST_DB_PORT=5432

#Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

#Connection Pool
MAX_IDLE_CONNS=10
MAX_OPEN_CONNS=100
CONN_MAX_LIFETIME=60

#Static File
STATIC_DRIVER=local
STATIC_ROOT=static/
STATIC_PUBLIC_URL=http://localhost:8888/static/
STATIC_AVATAR_PATH=avatar/
STATIC_MAX_AVATAR_SIZE=2097152