#Postgres
DB_DRIVER=${{vars.DB_DRIVER}}
DB_HOST=${{secrets.DB_HOST}}
DB_USER=${{secrets.DB_USER}}
DB_PASSWORD=${{secrets.DB_PASSWORD}}
DB_NAME=${{secrets.DB_NAME}}
DB_PORT=${{vars.DB_PORT}}
#Postgres Test DB
TEST_DB_DRIVER=${{vars.TEST_DB_DRIVER}}
TEST_DB_HOST=${{secrets.TEST_DB_HOST}}
TEST_DB_USER=${{secrets.TEST_DB_USER}}
TEST_DB_PASSWORD=${{secrets.TEST_DB_PASSWORD}}
TEST_DB_NAME=${{secrets.TEST_DB_NAME}}
TEST_DB_PORT=${{vars.TEST_DB_PORT}}
#Redis
REDIS_HOST=${{secrets.REDIS_HOST}}
REDIS_PORT=${{vars.REDIS_PORT}}
REDIS_PASSWORD=${{secrets.REDIS_PASSWORD}}
#Connection Pool
MAX_IDLE_CONNS=${{vars.MAX_IDLE_CONNS}}
MAX_OPEN_CONNS=${{vars.MAX_OPEN_CONNS}}
CONN_MAX_LIFETIME=${{vars.CONN_MAX_LIFETIME}}
#Static File
STATIC_DRIVER=${{vars.STATIC_DRIVER}}
STATIC_ROOT=${{STATIC_ROOT}}
STATIC_PUBLIC_URL=${{STATIC_PUBLIC_URL}}
STATIC_AVATAR_PATH=${{STATIC_AVATAR_PATH}}
STATIC_MAX_AVATAR_SIZE=${{STATIC_MAX_AVATAR_SIZE}}